.conf-class {
  font-size: 1.25em; 
  font-weight: bold;
}
.divi-class {
  font-size: 1.1em; 
  font-weight: bold;
}
.header-class {
  font-size: 1em; 
  font-weight: bold;
}

.plyrtm-class {
  font-size: 1em; 
}