/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.margin-box {
    margin: 100px;
}
.h2-style {
    text-align: center;
    background-color: green;
}
